/* style.css */
@font-face{
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}

@font-face{
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

body{
	line-height: 17px;
	background-color: #dfe2ec;
}

.top_bar{
	width: 100%;
	min-width: 1050px;
	height: 40px;
	background-color: #0daae6;
	border-bottom: 0.25em solid #2980b4;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;

}

.logo a {
	text-decoration: none;
	font-family: 'Bellota-BoldItalic', sans-serif;
	font-size: 30;
	margin-left: 10px;
	position: relative;
	top: 9px;	
}

nav{
	float: right;
	right: 1px;
	position: absolute;
	margin: 10px;
}

nav a{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
}

nav a:hover {
	border-bottom: 6px solid #e74c3c;
	text-decoration: none;
	color: #fff;
}

.wrapper{
	margin: 0 auto;
	top: 50px;
	position: relative;
	padding: 0 10px;
	width: 75%;
	min-width: 950px;

}

.column{
	background-color: #fff;
	padding: 5px;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #1e3348;
	z-index: -1;
}

.user_details{
	width: 250px;
	float: left;
	margin-bottom: 20px;
	font-size: 15;
}

.user_details_left_right{
	width: 125px;
	display: inline-block;
	position: absolute;
}

.user_details img{
	height: 125px;
	border-radius: 5px;
	margin-right: 5px;
}

.main_column{
	width: 75%;
    min-height: 200px;
    float: right;
    z-index: -1;
}

.post_form{
	width: 100%
}

/*.post_form textarea{
	width: 80%; 
	height: 60px;
	border-radius: 5px;
	margin-right: 5px;
	border: 1px solid #d3d3d3;
	font-size: 12px;

} */

.post_text{
	width: 85%;
	height: 60px;
	border-radius: 5px;
	margin-right: 5px;
	margin-top: 0px;
	border: 1px solid #d3d3d3;
	font-size: 12;
	padding: 5px;
}

textarea: focus{
	outline: 0;
}

.post_button {
	width: 10%;
    height: 59px;
    border: none;
    border-radius: 5px;
    /* margin-top: 4px; */
    background-color: #0daae6;
    font-family: 'Bellota-BoldItalic', sans-serif;
    color: #fff;
    box-shadow: 2px 2px 2px #1e3348;
    position: absolute;
    outline: 0;
    margin: 0;
}

.post_button:active{
	padding: 5px 4px 4px 5px;
	color: #000;
	background-color: #2980b4;
}

.status_post {
	background-color: #fff;
	width: 93%;
	min-height: 75px;
	font-size: 15;
	padding: 0px 5px;

}

.post_body{
	height: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.post_profile_pic {
	float: left;
	border-radius: 5px;
    border-color: #dc1919;
    margin-right: 7px;
}

.post_profile_pic img{
	border-radius: 5px;
}

.comment_section {
	padding: 0 5px 5px 5px;
}

.comment_section img {
	margin: 0 3px 3px 3px;
}

#comment_iframe {	
	max-height: 250px;
	width: 100%;
	margin-top: 5px;
}

#comment_form textarea  {
	width: 85%;
	height: 35px;
	border-radius: 5px;
	color: #616060;
	font-size: 14px;
	margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
	border: none;
    background-color: #0daae6;
    font-family: 'Bellota-BoldItalic', sans-serif;
    color: #fff;
    box-shadow: 2px 2px 2px #1e3348;
    border-radius: 5px;
    width: 13%;
    height: 35px;
    margin-top: 3px;
    position: absolute;
}

.newsfeedPostOptions {
	padding: 0px;
	text-decoration: none;
	color: #007bff;
	border: none;

}

.newsfeedPostOptions iframe {
	border: 0px;
    height: 17px;
    width: 120px;
}

.comment_like {
    background-color: transparent;
    border: none;
    color: #06f;
    font-size: 14;
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
}

.likes_value {
	color: #000;
    display: inline;
    font-size: 14;
}

.profile_left {
	position: relative;
	float: left;
    top: -10px;
    width: 17%;
    max-width: 240px;
    min-width: 130px;
    height: 100%;
    color: #fff;
    background-color: #0faae5;
}

.profile_left img {
    border-radius: 100%;
    margin: 30px;
    border: 5px solid;
    min-width: 80px;
    width: 55%;
 }

.profile_info{
    background-color: #2a80b4;
    width: 90%;
    margin-left: 8px;
    padding: 4px;
    font-size: 17;
    padding: 10px 0 10px 0;
}

.profile_info p {
	margin: 0 0 0 20px;
	word-wrap: break-word;
}

.danger {
	background-color: #e74c3c;
}

.warning {
	background-color: #a0fd4e;
}

.default {
	background-color: #dbc3c7;
}

.success {
	background-color: #2ecc71;
}

.info {
	background-color: #3498db;
}

.deep_blue {
	background-color: #0043f0;
}

.profile_left input["submit"] {
	width: 90%;
	height: 35px;
	margin: 7px 0 0 7px;
	color: #fff;
	border: none;
	border-radius: 5px;
}

#accept_button {
	width: 20%;
    height: 34px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    margin: 10px 5px 10px 5px;
}

#ignore_button {
	width: 20%;
    height: 34px;
    color: #fff;
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    margin: 10px 5px 10px 5px;
}


