/* style.css */
@font-face{
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}

@font-face{
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

body{
	line-height: 17px;
	background-color: #dfe2ec;
}

.top_bar{
	width: 100%;
	min-width: 1050px;
	height: 40px;
	background-color: #0daae6;
	border-bottom: 0.25em solid #2980b4;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;

}

.logo a {
	text-decoration: none;
	font-family: 'Bellota-BoldItalic', sans-serif;
	font-size: 30;
	margin-left: 10px;
	position: relative;
	top: 9px;	
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

nav{
	float: right;
	right: 1px;
	position: absolute;
	margin: 10px;
}

nav a{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
}

nav a:hover {
	border-bottom: 6px solid #e74c3c;
	text-decoration: none;
	color: #fff;
}

.wrapper{
	margin: 0 auto;
	top: 50px;
	position: relative;
	padding: 0 10px;
	width: 75%;
	min-width: 950px;

}

.column{
	background-color: #fff;
	padding: 5px;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #1e3348;
	z-index: -1;
}

.user_details{
	width: 250px;
	float: left;
	margin-bottom: 20px;
	font-size: 15;
}

.user_details_left_right{
	width: 125px;
	display: inline-block;
	position: absolute;
}

.user_details img{
	height: 125px;
	border-radius: 5px;
	margin-right: 5px;
}

.main_column{
	width: 75%;
    min-height: 200px;
    float: right;
    z-index: -1;
}

.post_form{
	width: 100%
}

/*.post_form textarea{
	width: 80%; 
	height: 60px;
	border-radius: 5px;
	margin-right: 5px;
	border: 1px solid #d3d3d3;
	font-size: 12px;

} */

.post_text{
	width: 85%;
	height: 60px;
	border-radius: 5px;
	margin-right: 5px;
	margin-top: 0px;
	border: 1px solid #d3d3d3;
	font-size: 12;
	padding: 5px;
}

textarea: focus{
	outline: 0;
}

.post_button {
	width: 10%;
    height: 59px;
    border: none;
    border-radius: 5px;
    /* margin-top: 4px; */
    background-color: #0daae6;
    font-family: 'Bellota-BoldItalic', sans-serif;
    color: #fff;
    box-shadow: 2px 2px 2px #1e3348;
    position: absolute;
    outline: 0;
    margin: 0;
}

.post_button:active{
	padding: 5px 4px 4px 5px;
	color: #000;
	background-color: #2980b4;
}

.status_post {
	background-color: #fff;
	width: 93%;
	min-height: 75px;
	font-size: 15;
	padding: 0px 5px;

}

.post_body{
	height: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.post_profile_pic {
	float: left;
	border-radius: 5px;
    border-color: #dc1919;
    margin-right: 7px;
}

.post_profile_pic img{
	border-radius: 5px;
}

.comment_section {
	padding: 0 5px 5px 5px;
}

.comment_section img {
	margin: 0 3px 3px 3px;
}

#comment_iframe {	
	max-height: 250px;
	width: 100%;
	margin-top: 5px;
}

#comment_form textarea  {
	width: 85%;
	height: 35px;
	border-radius: 5px;
	color: #616060;
	font-size: 14px;
	margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
	border: none;
    background-color: #0daae6;
    font-family: 'Bellota-BoldItalic', sans-serif;
    color: #fff;
    box-shadow: 2px 2px 2px #1e3348;
    border-radius: 5px;
    width: 13%;
    height: 35px;
    margin-top: 3px;
    position: absolute;
}

.newsfeedPostOptions {
	padding: 0px;
	text-decoration: none;
	color: #007bff;
	border: none;

}

.newsfeedPostOptions iframe {
	border: 0px;
    height: 17px;
    width: 120px;
}

.comment_like {
    background-color: transparent;
    border: none;
    color: #06f;
    font-size: 14;
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
}

.likes_value {
	color: #000;
    display: inline;
    font-size: 14;
}

.profile_left {
	position: relative;
	float: left;
    top: -10px;
    width: 17%;
    max-width: 240px;
    min-width: 130px;
    height: 100%;
    color: #fff;
    background-color: #0faae5;
}

.profile_left img {
    border-radius: 100%;
    margin: 30px;
    border: 5px solid;
    min-width: 80px;
    width: 55%;
 }

.profile_info{
    background-color: #2a80b4;
    width: 90%;
    margin-left: 8px;
    padding: 4px;
    font-size: 17;
    padding: 10px 0 10px 0;
}

.profile_info p {
	margin: 0 0 0 20px;
	word-wrap: break-word;
}

.profile_main_column{
	min-width: 675px;
    min-height: 200px;
    float: left;
    width: 70px;
    margin: 5px 10px 10px 10px;
    z-index: -1;
}

.profile_friends_column {
	min-width: 675px;
    min-height: 172px;
    float: left;
    width: 40px;
    margin: 5px 10px 10px 10px;
    z-index: -1;

}

.danger {
	background-color: #e74c3c;
}

.warning {
	background-color: #a0fd4e;
}

.default {
	background-color: #dbc3c7;
}

.success {
	background-color: #2ecc71;
}

.info {
	background-color: #3498db;
}

.deep_blue {
	background-color: #0043f0;
}

.profile_left input["submit"] {
	width: 90%;
	height: 35px;
	margin: 7px 0 0 7px;
	color: #fff;
	border: none;
	border-radius: 5px;
}

#accept_button {
	width: 20%;
    height: 34px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    margin: 10px 5px 10px 5px;
}

#ignore_button {
	width: 20%;
    height: 34px;
    color: #fff;
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    margin: 10px 5px 10px 5px;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    width: 22px;
    font-size: 11px;
    border-radius: 3px;
    margin: 1px 10px 2px 4px;
}

.profile_friends_column img {
	width: 100px;
    margin: 0px 6px 6px 3px;
    border: none;
    border-radius: 5px;
    position: relative;
}

.post_profile_pic a {
	font-family: arial,sans-serif;
	font-size: 14;
	text-decoration: none;
	color: #000;
	text-align: center;
}

.friend_list {
	text-align: center;
    background-color: #0faae5;
    font-size: 17;
    margin-top: 124px;
}

.loaded_messages {
	margin-top: 20px;
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    overflow: scroll;
    z-index: -1;
}

#msg_textarea {
	width: 71%;
	margin-left: 3px;
	min-height: 50px;
	border-radius: 5px;
	font-size: 14;
}

#msg_submit {
	border: none;
    background-color: #0daae6;
    font-family: 'Bellota-BoldItalic', sans-serif;
    color: #fff;
    box-shadow: 2px 2px 2px #1e3348;
    border-radius: 5px;
    width: 16%;
    height: 48px;
    margin: 0;
    position: absolute;	
}

.tr_empty {
	height: 15px;
}
td {
	padding-right: 30px;
	height: 38px;

}


.pic_row {
	width:45px; 
	border-radius:5px;
}


.msg_active_pics {
    width: 30%;
    height: 20px;
    margin-left: 4px;
}

.msg_active_pics img {
	width: 35px;
	border-radius:5px;
	float: left;
}

.msg_active_users_details{
    font-size: 13px;
    height: 20px;
    width: 70%;
    border-radius: 5px;
    text-align: left;
    margin-left: 50px;
}

.msg_send {
	text-align: center;
	border: none;
	padding-left: 17px;
	padding-bottom: 47px;
}

.msg_receive {
	text-align: center; 
	border: none;
	padding-left: 17px;
	padding-bottom: 47px;
}

.user_chats {
    width: 250px;
    margin-top: 149px;
    float: left;
    position: static;
    margin-left: -250px;
}

.active_users {
    height: 400px;
    max-height: 500px;
    overflow: scroll;	
    z-index: -1;
}

.titel_1 {
	font-size: 12px;
}

.title_2 {
    font-size: 11px;
    color: #027cff;
}

.results_display {
    padding: 5px 5px 0 4px;
    height: 60px;
    border-bottom: 1px solid #d3d3d3;
}

.results_display a {
	float: none;
}

.results_display:hover {
	background-color: #ebebeb;
	text-decoration: none;
}

.livesearch_pic img {
    height: 50px;
    border-radius: 25px;
    margin: 1px 12px 0 2px;
    float: left;
}

.livesearch_text {
    font-size: 14;
    margin-left: 10px;
}

.dropdown_data_window {
    background-color: #fff;
    width: 350px;
    position: absolute;
    right: 15px;
    top: 42px;
    border: 0px solid #d3d3d3;
    box-shadow: 2px 2px 2px #1e3348;
    border-radius: 0 0 5px 5px;
}

.rest
{
    border-radius: 0 0 5px 5px;
    border: 1px solid #d3d3d3;
    
    position: absolute;
    right: 15px;
    top: 51px;
}

.unread_msg_badge {
	font-size: 12;
    background-color: red;
    position: absolute;
    bottom: 6px;
    border-radius: 13px;
    color: white;
    padding: 1px 4px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    left: 11px;
}
